<div class="modal update">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Aktualizacja!</p>
        <button class="delete" aria-label="close" (click)="closeModal()"></button>
      </header>
      <section class="modal-card-body">
        Dostępne nowe pozycje dla gatunku: {{getMovieType(updateFilmType)}}

        Liczba nowych filmów: {{newMoviesCount}}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" (click)="update()">Odśwież</button>
        <button class="button" (click)="closeModal()">Zamknij</button>
      </footer>
    </div>
</div>