#register {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  #register .register-card {
    background: #fff;
    width: 24rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
  }
  #register .register-card .card-title {
    background-color: #00b89c;
    padding: 2rem;
  }
  #register .register-card .card-title h1 {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }
  #register .register-card .content {
    padding: 3rem 2.5rem 5rem;
  }
  #register .register-card #emailRegister, #register .register-card #passwordRegister {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.75rem;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    transition: all .5s;
  }
  #register .register-card #emailRegister:hover, #register .register-card #passwordRegister:hover {
    border-color: #7a7a7a;
  }
  #register .register-card #emailRegister:active, #register .register-card #emailRegister:focus, #register .register-card #passwordRegister:active, #register .register-card #passwordRegister:focus {
    border-color: #00d1b2;
  }

  #register .register-card #emailRegister, #register .register-card #passwordRepeatRegister {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.75rem;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    transition: all .5s;
  }
  #register .register-card #emailRegister:hover, #register .register-card #passwordRepeatRegister:hover {
    border-color: #7a7a7a;
  }
  #register .register-card #emailRegister:active, #register .register-card #emailRegister:focus, #register .register-card #passwordRegister:active, #register .register-card #passwordRepeatRegister:focus {
    border-color: #00d1b2;
  }

  #register .register-card .checkbox {
    color: #b5b5b5;
    font-size: 0.8rem;
  }
  #register .register-card .checkbox span {
    margin-left: 0.5rem;
  }
  #register .register-card a {
    font-size: 0.8rem;
  }
  #register .register-card .options {
    color: #b5b5b5;
    margin-bottom: 1.5rem;
  }
  #register .register-card button {
    cursor: pointer;
    font-size: 1.2rem;
    color: #00d1b2;
    border-radius: 4rem;
    display: block;
    width: 100%;
    background: transparent;
    border: 2px solid #00d1b2;
    padding: 0.9rem 0 1.1rem;
    transition: color .5s, border-color .5s;
  }
  #register .register-card button:hover, #register .register-card button:focus {
    color: #009e86;
    border-color: #009e86;
  }
  #register .register-card button:active {
    transform: translateY(1px);
  }
  
  label {
    cursor: pointer;
  }
  
  .regular-checkbox {
    display: none;
  }
  
  .regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }
  
  .regular-checkbox:checked + label {
    background-color: #e9ecee;
  }
  
  .regular-checkbox:checked + label:after {
    content: '\2714';
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 3px;
    color: #b5b5b5;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  