<div class="tile is-parent">

  <article class="tile is-child notification is-dark is-mobile">
      <div *ngIf="item.isNew" class="flag">
          NEW
        </div>
    <div class="movie-title" style="height: 135px; display: block">
      <div class="tooltip">
        <p class="title">{{formatTitle(item.title, item.year)}}</p>
        <span class="tooltiptext">{{item.title}} ({{item.year}})</span>
      </div>
      <p class="subtitle">Ocena: {{item.filmwebRating}} (z {{item.filmwebRatingCount}} ocen)</p>
    </div>

    <div class="columns is-multiline is-mobile is-gapless">
      <div class="column is-full" style="margin-bottom: 5px">
        <div class="tags has-addons">
          <span class="tag is-light">Kolekcja</span>
          <span class="tag is-info">{{item.providerName}}</span>
        </div>
      </div>

      <div class="column is-full" style="margin-bottom: 5px">
        <div class="tags has-addons">
          <span class="tag is-light">Gatunek wg Filmweb</span>
          <span class="tag is-success">{{item.filmwebFilmType}}</span>
        </div>
      </div>

      <div class="column is-full" style="margin-bottom: 5px">
        <div class="tags has-addons">
          <span class="tag is-light">Produkcja</span>
          <span class="tag is-primary">{{item.production}}</span>
        </div>
      </div>

      <div class="column is-full" style="margin-bottom: 5px">
        <div class="tags has-addons">
            <div class="tooltip">
                <span class="tag is-light">Obsada</span>
                <span class="tag is-link"><i>Pokaż...</i></span>
                <span class="tooltiptext">
                    <ul *ngIf="item.cast && item.cast.length > 0">
                        <li *ngFor="let castItem of item.cast">{{castItem}}</li>
                    </ul>

                    <p *ngIf="item.cast && item.cast.length == 0">Brak informacji na temat obsady dla tego filmu.</p>
                </span>
            </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-two-thirds">
        <p>Z dnia: {{item.storedDate | date:'short'}}</p>
      </div>
      <div class="column">
        <div *ngIf="item.filmDescription" (click)="onClick($event)" style="margin-bottom: 10px;" class="dropdown is-up">
          <div class="dropdown-trigger">
            <button class="button is-small is-light is-rounded" aria-haspopup="true" aria-controls="dropdown-menu7">
              <span class="icon is-small">
                <i class="fa fa-info"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu7" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>{{item.filmDescription}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <button *ngIf="item.movieUrl" (click)="openMovie(item)" class="button is-small is-light is-rounded">
          <span class="icon is-small">
            <i class="fa fa-video-camera"></i>
          </span>
        </button>
      </div>
    </div>

    <figure *ngIf="!item.imageUrl" class="image is-3by4">
      <img src="https://bulma.io/images/placeholders/640x480.png">
    </figure>

    <figure *ngIf="item.imageUrl" class="image is-4by3 is-mobile">
      <img src="{{item.imageUrl}}">
    </figure>
  </article>
</div>