<div style="margin-left: 10px;" class="columns is-mobile is-multiline" *ngIf="!loading">
    <div class="column is-one-third-desktop is-half-tablet is-four-fifths-mobile">
        <div class="control">
            <label class="label">Tytuł:</label>
            <input [(ngModel)]="movieFilterArgs.title" class="input" type="text" placeholder="Tytuł filmu...">
        </div>
    </div>
    <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
        <label class="label">Gatunek wg Filmweb:</label>
        <div class="select">
            <select [(ngModel)]="movieFilterArgs.filmwebFilmType">
                <option *ngFor="let type of filmwebTypes; let i = index" [value]="filmwebTypes[i]">{{type}}</option>
                <option [value]="">Wszystkie</option>
            </select>
        </div>
    </div>

    <div class="column is-one-third-desktop is-half-tablet is-full-mobile">
        <label class="label">Dostawca vod:</label>
        <div class="select">
            <select [(ngModel)]="movieFilterArgs.providerName">
                <option *ngFor="let providerName of providerNames; let i = index" [value]="providerNames[i]">{{providerName}}</option>
                <option [value]="">Wszystkie</option>
            </select>
        </div>
    </div>
</div>